Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?


Ans. mongodb is a built on a scale-out architecture that has become popular with developers of all kinds for developing scalable applications with evolving data schemas.
As a document database, MongoDB makes it easy for developers to store structured or unstructured data. 
It uses a JSON-like format to store documents.
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.
Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

MongoDB is prefered to save unstructured data in JSON format.mongodb is faster and more scalable.
The MS SQL server does not accommodate large amounts of data, however MongoDB does.so mongod is preferred for storing large documented data

Q2. State and Explain the features of MongoDB.

Ans. MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint. Document. Data in MongoDB is stored in documents with key-value pairs instead of rows and columns, which makes the data more flexible when compared to SQL databases.

MongoDB is a preferred big data option thanks to its ability to easily handle a wide variety of data formats, support for real-time analysis, high-speed data ingestion, low-latency performance, flexible data model, easy horizontal scale-out, and powerful query language.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [25]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [28]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://pwskillsuzma:pwskillsuzma@cluster0.nlzygjk.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [29]:
import pymongo
client =pymongo.MongoClient("mongodb+srv://pwskillsuzma:pwskillsuzma@cluster0.nlzygjk.mongodb.net/?retryWrites=true&w=majority")

In [30]:
client

MongoClient(host=['ac-o4gdrpf-shard-00-01.nlzygjk.mongodb.net:27017', 'ac-o4gdrpf-shard-00-02.nlzygjk.mongodb.net:27017', 'ac-o4gdrpf-shard-00-00.nlzygjk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-13et5r-shard-0', tls=True)

In [31]:
db=client["uzmapw"]

In [32]:
coll_create=db['my_record1']

In [11]:
data={"name":"uzma",
      "email":"uzmadatascinece@gmail.com",
      "phone": 9954304 }

In [12]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('6543a1b9b2b942874d45d268'), acknowledged=True)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [14]:
data2={"family":["uzma","syedrafi","furqan","fatimah"],
       "grand":["iqbal","hussain","tajunbee","imtiyaz"]}

In [15]:
coll_create.insert_one(data2)

InsertOneResult(ObjectId('6543a219b2b942874d45d269'), acknowledged=True)

In [16]:
data3=[{"name":"uzma","address":"austin town"},
       {"name":"salma","address":"btm"},
       {"name":"seema","address":"muscat"},
       {"name":"asma","address":"myosre"},
       {"name":"bushra","address":"coxtown"},
       {"name":"hasee","address":"aneppal"},
       {"name":"shoaib","address":"anepalya"},
       {"name":"zaheer","address":"neelsandra"},
       {"name":"anees","address":"oman"},
       {"name":"rafi","address":"austin town1"},
       {"name":"furqan","address":"austin town2"}]

In [17]:
coll_create.insert_many(data3)

InsertManyResult([ObjectId('6543a247b2b942874d45d26a'), ObjectId('6543a247b2b942874d45d26b'), ObjectId('6543a247b2b942874d45d26c'), ObjectId('6543a247b2b942874d45d26d'), ObjectId('6543a247b2b942874d45d26e'), ObjectId('6543a247b2b942874d45d26f'), ObjectId('6543a247b2b942874d45d270'), ObjectId('6543a247b2b942874d45d271'), ObjectId('6543a247b2b942874d45d272'), ObjectId('6543a247b2b942874d45d273'), ObjectId('6543a247b2b942874d45d274')], acknowledged=True)

In [18]:
coll_create.find_one()

{'_id': ObjectId('65434bb149a6e1a68a8ce127'),
 'name': 'uzma',
 'email': 'uzmadatascinece@gmail.com',
 'phone': 9954304}

In [19]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('65434bb149a6e1a68a8ce127'), 'name': 'uzma', 'email': 'uzmadatascinece@gmail.com', 'phone': 9954304}
{'_id': ObjectId('6543a1b9b2b942874d45d268'), 'name': 'uzma', 'email': 'uzmadatascinece@gmail.com', 'phone': 9954304}
{'_id': ObjectId('6543a219b2b942874d45d269'), 'family': ['uzma', 'syedrafi', 'furqan', 'fatimah'], 'grand': ['iqbal', 'hussain', 'tajunbee', 'imtiyaz']}
{'_id': ObjectId('6543a247b2b942874d45d26a'), 'name': 'uzma', 'address': 'austin town'}
{'_id': ObjectId('6543a247b2b942874d45d26b'), 'name': 'salma', 'address': 'btm'}
{'_id': ObjectId('6543a247b2b942874d45d26c'), 'name': 'seema', 'address': 'muscat'}
{'_id': ObjectId('6543a247b2b942874d45d26d'), 'name': 'asma', 'address': 'myosre'}
{'_id': ObjectId('6543a247b2b942874d45d26e'), 'name': 'bushra', 'address': 'coxtown'}
{'_id': ObjectId('6543a247b2b942874d45d26f'), 'name': 'hasee', 'address': 'aneppal'}
{'_id': ObjectId('6543a247b2b942874d45d270'), 'name': 'shoaib', 'address': 'anepalya'}
{'_id': ObjectId('6543a247b2b942874d45d271'), 'name': 'zaheer', 'address': 'neelsandra'}
{'_id': ObjectId('6543a247b2b942874d45d272'), 'name': 'anees', 'address': 'oman'}
{'_id': ObjectId('6543a247b2b942874d45d273'), 'name': 'rafi', 'address': 'austin town1'}
{'_id': ObjectId('6543a247b2b942874d45d274'), 'name': 'furqan', 'address': 'austin town2'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

ANS.To select data from a collection in MongoDB, we can use the find() method. The find() method returns all occurrences in the selection. 
The first parameter of the find() method is a query object. 
In this example we use an empty query object, which selects all documents in the collection.

In [33]:
#example
data5=[{"_id":4,"name":"salma"},
       {"_id":5,"name":"uzma"},
       {"_id":6,"name":"manu"},
       {"_id":7,"name":"zahra"},
       {"_id":8,"name":"sheema"}]

In [34]:
coll_create.insert_many(data5)

InsertManyResult([4, 5, 6, 7, 8], acknowledged=True)

In [35]:
for i in coll_create.find({"_id":{"$gte":4}}):
    print(i)

{'_id': 4, 'name': 'salma'}
{'_id': 5, 'name': 'uzma'}
{'_id': 6, 'name': 'manu'}
{'_id': 7, 'name': 'zahra'}
{'_id': 8, 'name': 'sheema'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
In MongoDB, sorting is done by the sort() method. The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order.

The sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the positive one represents the ascending order, while the negative one represents the descending order.

In [36]:
#The sort() method specifies the order in which the query returns the matching documents from the given collection.

for i in coll_create.find().sort({"name": 1}):
    print(i)

{'_id': ObjectId('6543a219b2b942874d45d269'), 'family': ['uzma', 'syedrafi', 'furqan', 'fatimah'], 'grand': ['iqbal', 'hussain', 'tajunbee', 'imtiyaz']}
{'_id': ObjectId('6543a247b2b942874d45d272'), 'name': 'anees', 'address': 'oman'}
{'_id': ObjectId('6543a247b2b942874d45d26d'), 'name': 'asma', 'address': 'myosre'}
{'_id': ObjectId('6543a247b2b942874d45d26e'), 'name': 'bushra', 'address': 'coxtown'}
{'_id': ObjectId('6543a247b2b942874d45d274'), 'name': 'furqan', 'address': 'austin town2'}
{'_id': ObjectId('6543a247b2b942874d45d26f'), 'name': 'hasee', 'address': 'aneppal'}
{'_id': 6, 'name': 'manu'}
{'_id': ObjectId('6543a247b2b942874d45d273'), 'name': 'rafi', 'address': 'austin town1'}
{'_id': ObjectId('6543a247b2b942874d45d26b'), 'name': 'salma', 'address': 'btm'}
{'_id': 4, 'name': 'salma'}
{'_id': ObjectId('6543a247b2b942874d45d26c'), 'name': 'seema', 'address': 'muscat'}
{'_id': 8, 'name': 'sheema'}
{'_id': ObjectId('6543a247b2b942874d45d270'), 'name': 'shoaib', 'address': 'anepalya'}
{'_id': ObjectId('65434bb149a6e1a68a8ce127'), 'name': 'uzma', 'email': 'uzmadatascinece@gmail.com', 'phone': 9954304}
{'_id': ObjectId('6543a1b9b2b942874d45d268'), 'name': 'uzma', 'email': 'uzmadatascinece@gmail.com', 'phone': 9954304}
{'_id': ObjectId('6543a247b2b942874d45d26a'), 'name': 'uzma', 'address': 'austin town'}
{'_id': 5, 'name': 'uzma'}
{'_id': ObjectId('6543a247b2b942874d45d271'), 'name': 'zaheer', 'address': 'neelsandra'}
{'_id': 7, 'name': 'zahra'}

In [37]:
for i in coll_create.find({"_id":{"$gte":4}}).sort({"name": 1}):
    print(i)

{'_id': 6, 'name': 'manu'}
{'_id': 4, 'name': 'salma'}
{'_id': 8, 'name': 'sheema'}
{'_id': 5, 'name': 'uzma'}
{'_id': 7, 'name': 'zahra'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

ANS. all this is used for Deleting document from Collection or Database.
In MongoDB, a single document can be deleted by the method delete_one(). 
To delete more than one document, use the delete_many() method.
The first parameter of the delete_many() method is a query object defining which documents to delete.
drop() is used to delete the whole collection .