#Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans.A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS).

SQL databases are relational, and NoSQL databases are non-relational. 
SQL databases use structured query language (SQL) and have a predefined schema. 
NoSQL databases have dynamic schemas for unstructured data. 
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans.Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
DDL statements are similar to a computer programming language for defining data structures, especially database schemas.
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL

#create
this command is used to create database or tables
example 
CREATE TABLE test_table(c1 int ,c2 varchar)

#alter 
this command is used to alter the table like to delete one column using drop command or add a column or modify a column
example
ALTER test_table 
DROP c1
or ALTER test_table
ADD c3 varchar(40)

#truncate
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE test_table

#drop
The DROP TABLE command deletes a table in the database.
DROP test_table

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans.A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.
A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language's operators.

#INSERT which allows users to insert data in database tables.
INSERT into test_table(c1,c2,c3)values(123,fauz,564)

#UPDATE which allows users to update or modify the existing data in database tables.
UPDATE test_table SET c1=321 where c2=fauz

#DELETE  DML command which allows SQL users to remove single or multiple existing records from the database tables.

This command of Data Manipulation Language does not delete the stored data permanently from the database.
We use the WHERE clause with the DELETE command to select specific rows from the table.

DELETE from test_table where c2=fauz

Q4. What is DQL? Explain SELECT with an example.

ans. Data Query Language (DQL) is a critical subset of SQL (Structured Query Language) used primarily for querying and retrieving data from a database.

#select
The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables
SELECT c1 from test_table
or SELECT * from test_table

Q5. Explain Primary Key and Foreign Key.

A primary key is a unique identifier for each record in a table.
A foreign key establishes a relationship between tables by referencing the primary key of another table.
Ensures uniqueness and data integrity within a single table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ans.import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
  
)

mycursor = mydb.cursor()

#mycursor.execute("select * from test1.test_table")

mycursor.execute("select c1 ,c5 from test1.test_table")


for i in mycursor.fetchall():

    print(i)

Q7. Give the order of execution of SQL clauses in an SQL query.

SQL queries are used to access a set of records present in our database tables.
SQL queries are made up of one or more clauses. 
A particular order must be followed to execute these clauses to obtain correct results. 
This order of execution is known as SQL query execution order.

## Order----Clause---Function

1	FROM	Tables are joined to get the base data.

2	WHERE	The base data is filtered.

3	GROUP BY	The filtered base data is grouped.

4	HAVING	The grouped base data is filtered.

5	SELECT	The final data is returned.

6	ORDER BY	The final data is sorted.

7	LIMIT	The returned data is limited to row count.